.custom_slider .outer-container {
  overflow: hidden;
  margin: 0 auto;
}
.custom_slider .outer-container .inner-container {
  width: 8000px;
  display: flex;
}
.custom_slider .one-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom_slider .one-slide img {
  width: 100%;
}
.custom_slider .navs {
  display: flex;
  font-size: 70px;
  justify-content: center;
}
.custom_slider .navs > a {
  text-decoration: none;
}
.custom_slider .navs .prev {
  margin-right: 50px;
}
